<h3>Liste des utilisateurs</h3>
<br>

<button class="btn btn-success btn-sm mr-2 ml-2" (click)="refresh()">Rafraichir
  <fa-icon class="pl-2" [icon]="faSync"></fa-icon>
</button>

<br><br>

<ng-template [ngIf]="userList.length>0" [ngIfElse]="elseBlockTot">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList">
      <td> {{ user.nom }} </td>
      <td> {{ user.prenom }} </td>
      <td> {{ user.email }} </td>
    </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #elseBlockTot>
  <p>Pas d'utilisateur enregistré.</p>
</ng-template>
