/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~bootstrap/dist/css/bootstrap.min.css';

label.required:after {
    content:" *";
    color: #EB5E28!important;
    font-size: 17px;
}
label.notrequired:after {
    content:" *";
    visibility: hidden;
    font-size: 17px;
}
.star:after {
    content: "*";
    color: #EB5E28!important;
    font-size: 17px;
}
/* A retire si probleme */
html {
    overflow: hidden; /* les dépassements seront masqués */
  }