/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
label.required:after {
    content:" *";
    color: #EB5E28!important;
    font-size: 17px;
}
label.notrequired:after {
    content:" *";
    visibility: hidden;
    font-size: 17px;
}
.star:after {
    content: "*";
    color: #EB5E28!important;
    font-size: 17px;
}
main#login {
    overflow-x: hidden; /* les dépassements seront masqués */
    margin-left:0px;
} 
main {
    overflow-x: hidden; /* les dépassements seront masqués */
    margin-left:230px;
} 

.btn-link{
    color: #4f7c1a;
}
.btn-link:hover{
    color: #477018;
}