<ng-template #content let-modal>
    <div class="modal-header">
      <h4 *ngIf="mode === 'modal'" class="modal-title" id="modal-basic-title">Création d'une conférence</h4>
      <h4 *ngIf="mode === 'url'" class="modal-title" id="modal-basic-title">Modification d'une conférence</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
      <div class="modal-body">
        <!-- Titre -->
        <div class="form-row">
          <div class="col">
            <label class="required" for="titre">Titre</label>
  
            <input
              type="text"
              class="form-control"
              aria-label="titre"
              name="titre"
              id="titre"
              aria-describedby="inputGroup-sizing-sm"
              required
              minlength="3"
              maxlength="100"
              #titre="ngModel"
              placeholder="Titre"
              ngModel="{{conference['titre']}}"
            >
  
            <div *ngIf="titre.invalid  && (titre.dirty || titre.touched)">
              <div *ngIf="titre.errors?.['minlength']">
                <small id="titreMin" class="text-danger"> Il faut minimum 3 caractéres</small>
              </div>
              <div *ngIf="titre.errors?.['maxlength']">
                <small id="titreMax" class="text-danger"> Il faut au maximum 100 caractéres</small>
              </div>
              <div *ngIf="titre.errors?.['required']">
                <small id="titreRequired" class="text-danger"> Titre est obligatoire</small>
              </div>
            </div>
          </div>
          <!-- Thème -->
          <div class="col">
            <label class="required" for="theme">Thème</label>
  
            <input
              type="text"
              class="form-control"
              aria-label="theme"
              name="theme"
              id="theme"
              aria-describedby="inputGroup-sizing-sm"
              minlength="3"
              maxlength="100"
              required
              #theme="ngModel"
              placeholder="Thème"
              ngModel="{{conference['theme']}}"
            >
  
            <div *ngIf="theme.invalid  && (theme.dirty || theme.touched)">
              <div *ngIf="theme.errors?.['required']">
                <small id="descriptionRequired" class="text-danger"> Le thème est obligatoire</small>
              </div>
              <div *ngIf="theme.errors?.['minlength']">
                <small id="themeMin" class="text-danger"> Il faut minimum 3 caractéres</small>
              </div>
              <div *ngIf="theme.errors?.['maxlength']">
                <small id="themeMax" class="text-danger"> Il faut au maximum 100 caractéres</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <!-- Description -->
          <div class="col">
            <label class="required" for="description">Description</label>
            <textarea
              type="textarea"
              class="form-control"
              aria-label="description"
              name="description"
              id="description"
              aria-describedby="inputGroup-sizing-sm"
              minlength="5"
              maxlength="800"
              required
              #description="ngModel"
              placeholder="Description"
              ngModel="{{conference['description']}}"
            ></textarea>
  
            <div *ngIf="description.invalid  && (description.dirty || description.touched)">
              <div *ngIf="description.errors?.['required']">
                <small id="descriptionRequired" class="text-danger"> La description est obligatoire</small>
              </div>
              <div *ngIf="description.errors?.['minlength']">
                <small id="descriptionMin" class="text-danger"> Il faut minimum 5 caractéres</small>
              </div>
              <div *ngIf="description.errors?.['maxlength']">
                <small id="descriptionMax" class="text-danger"> Il faut au maximum 800 caractéres</small>
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label class="required" for="dateDebut">Date de début</label>
  
            <input
              type="datetime-local"
              class="form-control"
              aria-label="dateDebut"
              name="dateDebut"
              aria-describedby="inputGroup-sizing-sm"
              required
              #dateDebut="ngModel"
              placeholder="Date de début"
              [ngModel]="conference['dateDebut'] | date:'yyyy-MM-dd hh:mm'"
            >
            <div *ngIf="dateDebut.invalid  && (dateDebut.dirty || dateDebut.touched)">
              <div *ngIf="dateDebut.errors?.['required']">
                <small id="dateDebutRequired" class="text-danger"> Date de début est obligatoire</small>
              </div>
            </div>
          </div>
          <div class="col">
            <label class="required" for="dateFin">Date de fin</label>
  
            <input
              type="datetime-local"
              class="form-control"
              aria-label="dateFin"
              name="dateFin"
              aria-describedby="inputGroup-sizing-sm"
              required
              #dateFin="ngModel"
              placeholder="Date de fin"
              [ngModel]="conference['dateFin'] | date:'yyyy-MM-dd hh:mm'"
            >
            <div *ngIf="dateFin.invalid  && (dateFin.dirty || dateFin.touched)">
              <div *ngIf="dateFin.errors?.['required']">
                <small id="dateFinRequired" class="text-danger"> Date de fin est obligatoire</small>
              </div>
            </div>
          </div>
        </div>
        <!-- Manque la la liste des sous parties en liste -->
        <!-- Ajouter d'un participant -->
        <button type="button" class="btn btn-link btn-sm float-right"
        (click)="toggleShowConferenceParticipantsForm(true)"
        id="ajouter-ligne-conference"
        >
            <i class="fa fa-plus"></i> Ajouter un participant
        </button>
        <table class="table table-hover table-sm">
          <thead>
          <tr>
            <th scope="col">#</th>
              <!-- Nom -->
              <th scope="col">Participant</th>
              <!-- Action -->
              <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody  *ngIf="conference.conferenceParticipants">
            <tr *ngFor="let conferenceParticipants of conference.conferenceParticipants; let index = index">
              <td>{{ index + 1 }}</td>
              <!-- User -->
              <td>{{ conferenceParticipants.user.nom }} {{ conferenceParticipants.user.prenom }}</td>
              <td> 
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteConferenceParticipants(index)"><fa-icon [icon]="faTrash"></fa-icon></button>
                <button type="button" class="btn btn-success btn-sm ml-2" (click)="selectConferenceParticipants(conferenceParticipants)"><fa-icon [icon]="faClone"></fa-icon></button> 
              </td>
            </tr>
          </tbody>
        </table>
        <p class="text-muted text-center" *ngIf="!conference.conferenceParticipants">
          <!-- Ajouter une ligne de conference -->
          <small>Aucun participant pour cette conférence</small>
          <br>
        </p>
        <form name="Form"  #conferenceParticipantsForm = "ngForm" (ngSubmit)="addConferenceParticipants(conferenceParticipantsForm); conferenceParticipantsForm.resetForm()" *ngIf="showConferenceParticipantsForm">     
          <div class="form-row" *ngIf="showConferenceParticipantsForm">
          <!-- Utilisateur -->
            <div class="col">
              <label class="required" for="user">Utilisateur</label>
              <ng-select
                required
                placeholder="Choisir un utilisateur"
                name="user"
                #user="ngModel"
                [items]="userList"
                bindLabel="prenom"
                [closeOnSelect]="false"
                [clearable]="false"
                [closeOnSelect]="true"
                [(ngModel)]="conference.user">
                <ng-option [value]="conference.user ? user.id : null"  *ngFor="let user of userList">
                    {{user.nom}}
                </ng-option>
              </ng-select>

              <div *ngIf="user.invalid  && (user.dirty || user.touched)">
                <div *ngIf="user.errors?.['required']">
                  <small id="userRequired" class="text-danger"> Utilisateur est obligatoire</small>
                </div>
              </div>
            </div>
  
          </div>         
          <div class="mt-2">
            <!-- Ajouter ligne conference -->
            <input class="btn btn-primary btn-sm" type="submit" value="Ajouter une ligne" [disabled]="conferenceParticipantsForm.invalid">
          </div>
        </form>     
        <!-- Fermer -->
        <button type="button" class="btn btn-sm btn-dark float-right ml-2" (click)="toggleShowConferenceParticipantsForm(false)" *ngIf="showConferenceParticipantsForm" tabindex=-1>
            <i class="fa fa-times"></i> Fermer
        </button>
        <small>
          <span class="star"></span> Obligatoire
        </small>
      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Sauvegarder" [disabled]="myform.invalid ||
        !conference.conferenceParticipants ||
        conference.conferenceParticipants.length === 0">
      </div>
    </form>
  </ng-template>
  
  <button class="btn btn-success btn-sm font-weight-bold" (click)="open(content)" *ngIf="mode === 'modal'"><fa-icon class="pr-2" [icon]="faPlus"></fa-icon>Nouvelle conférence</button>
  <button (click)="open(content)" *ngIf="mode === 'url'" class="btn btn-link p-0">{{conference.titre}}</button>
  
  