<div class="card-body">
  <!-- Article -->
  <h3 class="page-header">
    Article
  </h3>
  <!-- Liste des articles -->
  <p class="card-description mb-4">
    Liste des articles
  </p>

  <div class="mb-4">
    <div class="btn-group" role="group" aria-label="Basic example">
      <app-modal-article mode="modal"></app-modal-article>
      <button class="btn border-left btn-success btn-sm" (click)="refresh()">
        <fa-icon [icon]="faSync"></fa-icon>
      </button>
    </div>
  </div>
  <ng-template [ngIf]="articleList.length>0" [ngIfElse]="elseBlockTot">
    <div class="table-responsive">
      <table class="table table-hover table-sm" style="white-space: nowrap">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Déscription</th>
          <th scope="col">Prix</th>
          <th scope="col">Stock</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let article of articleList">
          <td> <app-modal-article mode="url" [article]="article"></app-modal-article></td>
          <td> {{ article.description }} </td>
          <td> {{ article.prix }} € </td>
          <td> {{ article.stock }} </td>
          <td> <img src="{{article.image ? (environment.apiUrl + article?.image?.url) : 'https://via.placeholder.com/50' }}" width="50" height="50"/> </td>
        <td> <button type="button" class="btn btn-danger btn-sm" (click)="deleteArticle(article.id)"><fa-icon [icon]="faTrash"></fa-icon></button> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template #elseBlockTot>
    <p>Pas d'article enregistré.</p>
  </ng-template>
</div>
