@tailwind base;
@tailwind components;
@tailwind utilities;

.activer {
  background-color: #4CAF50; /* Green */
  border-radius: 4%;
  color: white;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  }