<div class="card-body">
  <!-- Demande de mot de passe oublié -->
  <h3 class="page-header">
    Demande de mot de passe oublié
  </h3>
  <!-- Liste des demande de mot de passe oublié -->
  <p class="card-description mb-4">
    Liste des demande de mot de passe oublié
  </p>

  <div class="mb-4">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn border-left btn-success btn-sm" (click)="refresh()">
        <fa-icon [icon]="faSync"></fa-icon>
      </button>
    </div>
  </div>
  <ng-template [ngIf]="passwordKeyList.length>0" [ngIfElse]="elseBlockTot">
    <div class="table-responsive">
      <table class="table table-hover table-sm" style="white-space: nowrap">
        <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Clé</th>
          <th scope="col">Créé à</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let passwordKey of passwordKeyList">
          <td> {{ passwordKey.email }} </td>
          <td> {{ passwordKey.key }} </td>
          <td> {{ passwordKey.createdAt | date:'dd/MM/yyyy à HH:mm:ss' }} </td>
          <td> <button type="button" class="btn btn-danger btn-sm" (click)="deletePasswordKey(passwordKey.id)"><fa-icon [icon]="faTrash"></fa-icon></button> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template #elseBlockTot>
    <p>Pas de demande de mot de passe oublié en cours.</p>
  </ng-template>
</div>
