<form #myform="ngForm" (ngSubmit) = "onSubmit(myform)" >
    <div class="modal-body">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-envelope-fill mr-2"></i> Email</span>
          </div>
          <input class = 'form-control' type = "text" name = "email" placeholder = "Email"  aria-describedby="inputGroup-sizing-sm" ngModel>
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm-1"><i class="bi bi-key-fill mr-2"></i> Mot de passe</span>
          </div>
          <input class = 'form-control' type = "password" name = "password" placeholder = "Password" aria-describedby="inputGroup-sizing-sm" ngModel>
        </div>
    </div>
      <div class="modal-footer">
        <input class= 'btn btn-outline-info' type = "submit" (click)='refresh()' value = "Connexion">
      </div>
</form>
